/* Webfont: Jazzbury-Regular */@font-face {
    font-family: 'Jazzbury';
    src: url('Jazzbury.eot'); /* IE9 Compat Modes */
    src: url('Jazzbury.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Jazzbury.woff') format('woff'), /* Modern Browsers */
         url('Jazzbury.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

